.App {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/img/background.png);
  background-repeat: repeat-y;
  background-size: contain;

}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;

}

.post {
  width: 300px;
  height: 500px;
  margin: 5px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  transition: transform 100ms ease-in-out;

}

.post:hover {
  transform: scale(1.09);
}

.post img {
  max-width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.inputb {
  display: flex;
  justify-content: center;
}

#filled-basic {
  background-color: #fff;
  border-radius: 5px;

}